@{
    ViewBag.Title = "PhotoTiles的故事";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>本公司創立於2018。是由一群富有熱情與理想的追夢者，期望藉由客製化「相片磚」將生活中美好的時刻，存放流傳...</p>

<img src="~/Content/pic2.jpg" alt="DemoPic1">
