@{
    ViewBag.Title = "聯絡方式";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    台北市 大安區<br />
    臨江街91號五樓之2<br />
    <abbr title="Phone">P:</abbr>
    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
    0928-526-420
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>官方臉書專頁:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>